<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body>
        <div class="container">
            <flickr-search></flickr-search>
            <flickr-card-container></flickr-card-container>
            <!-- SEARCH + Button -->
            <!-- CARD CONTAINER -->
        </div>
    </body>
</html>